<!DOCTYPE html>
<html lang="en">
<head>
    <title>VR View Example</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <link href="//fonts.googleapis.com/css?family=Lora|Open+Sans" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
</head>

<body>

    <h1>Fotografía 360° oficina Devs</h1>
    <iframe width="100%" scrolling="no" allowfullscreen src="../index.html?image=view/img/devs.jpg&is_stereo=true">
    </iframe>

    <h1>Fotografía 360° oficina Design </h1>
    <iframe width="100%" scrolling="no" allowfullscreen src="../index.html?image=view/img/design.jpg&is_stereo=true">
    </iframe>

    <h1>Fotografía 360° oficina Admin</h1>
    <iframe width="100%" scrolling="no" allowfullscreen src="../index.html?image=view/img/secret.jpg&is_stereo=true">
    </iframe>

    <a href="https://developers.google.com/vr/concepts/vrview-web">Source Code</a>

</body>

</html>